<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-row>
        <ion-col size="auto">
          <ion-label>ألهمني</ion-label>
        </ion-col>
        <ion-col size="1"></ion-col>
        <ion-col size="auto">
          <ion-button fill="clear" color="light" class="active">التصنيفات</ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear" color="light">من نحن</ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear" color="light">اتصل بنا</ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="" padding>

  <ion-grid>
    <ion-row>
      <ion-col size="6" text-center>
        <ion-card color="light" [routerLink]="['/home/list']">
          <ion-card-header>
            <ion-card-title color="primary">قطاع الزراعة</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <ngx-charts-line-chart
              [view]="view"
              [scheme]="colorScheme"
              [results]="single"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              (select)="onSelect($event)">
            </ngx-charts-line-chart>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" text-center>
        <ion-card color="light">
          <ion-card-header>
            <ion-card-title color="primary">قطاع الصناعة</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <ngx-charts-line-chart
              [view]="view"
              [scheme]="colorScheme"
              [results]="single"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              (select)="onSelect($event)">
            </ngx-charts-line-chart>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" text-center>
          <ion-card color="light">
            <ion-card-header>
              <ion-card-title color="primary">قطاع الترفيه</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ngx-charts-line-chart
                [view]="view"
                [scheme]="colorScheme"
                [results]="single"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                (select)="onSelect($event)">
              </ngx-charts-line-chart>
            </ion-card-content>
          </ion-card>
        </ion-col>


        <ion-col size="6" text-center>
          <ion-card color="light">
            <ion-card-header>
              <ion-card-title color="primary">قطاع ال</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ngx-charts-line-chart
                [view]="view"
                [scheme]="colorScheme"
                [results]="single"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                (select)="onSelect($event)">
              </ngx-charts-line-chart>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <!-- <ion-col size="4" text-center>
          <ion-card color="light">
            <ion-card-header>
              <ion-card-title color="primary">قطاع الزراعة</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-img src="../../assets/img/chart.png"></ion-img>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" text-center>
          <ion-card color="light">
            <ion-card-header>
              <ion-card-title color="primary">قطاع الزراعة</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-img src="../../assets/img/chart.png"></ion-img>
            </ion-card-content>
          </ion-card>
        </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>
