<!-- <ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content color="dark" padding>
  <ion-grid>
    <ion-row>
      <ion-col size="6" offset="3">
          <ion-card color="light">
              <ion-card-content>
                  <ion-grid>
                      <ion-row>
                        <ion-col >
                            <ion-button (click)="userRegister()" expand="full">رائد اعمال</ion-button>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col >
                            <ion-button (click)="investorRegister()" expand="full">مستثمر</ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
              </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
